<a href="https://colab.research.google.com/github/phascalischevin123/Phascalischevin-posts2/blob/main/C_2109116123_postes_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (1) Apriori

Gunakan dataset ini : https://drive.google.com/file/d/1BqC-2d1ZYqFIFwdjdsW5bAAqNFh2AO4C/view?usp=share_link

Dan buatlah daftar support dan confidence untuk 2 item set dengan menggunakan dataset tersebut (hint : buatlah tabel tabulasi terlebih dahulu untuk memudahkan)

In [ ]:
import itertools

In [ ]:
my_list = ["whole milk", "pastry", "salty snack", "sausage", "semi-finished bread", "yogurt", "soda", 
           "pickled vegetables", "canned beer", "misc. beverages", "hygiene articles", "rolls/buns", 
           "whipped/sour cream", "curd", "beef", "white bread", "butter", "frozen vegetables", "other vegetables", 
           "tropical fruit", "sugar", "buttermilk", "specialty chocolate", "frozen meals", "dental care", 
           "root vegetables", "detergent", "dish cleaner", "cling film/bags"]

combinations = itertools.combinations(my_list, 2)

In [ ]:
# untuk melihat kombinasi 2 item set dari data yang telah diberikan
# menghitung berapa banyak kombinasi 2 item set

count = 0
for comb in combinations:
    count += 1
    print(comb)


print("Jumlah kombinasi:", count)

support

In [ ]:
# kode dibawah ini untuk mencari nilai support dari setiap kombinasi 2 item

transactions = [
    ["whole milk", "pastry", "salty snack"],
    ["sausage", "whole milk", "semi-finished bread", "yogurt"],
    ["soda", "pickled vegetables"],
    ["canned beer", "misc. beverages"],
    ["sausage", "hygiene articles"],
    ["sausage", "whole milk", "rolls/buns"],
    ["whole milk", "soda"],
    ["frankfurter", "soda", "whipped/sour cream"],
    ["frankfurter", "curd"],
    ["beef", "white bread"],
    ["butter", "whole milk"],
    ["frozen vegetables", "other vegetables"],
    ["tropical fruit", "sugar"],
    ["buttermilk", "specialty chocolate"],
    ["frozen meals", "dental care"],
    ["rolls/buns", "rolls/buns"],
    ["root vegetables", "detergent"],
    ["sausage", "rolls/buns"],
    ["dish cleaner", "cling film/bags"]
]

num_transactions = len(transactions)
combinations = itertools.combinations(my_list, 2)

for comb in combinations:
    count = 0
    for transaction in transactions:
        if set(comb).issubset(set(transaction)):
            count += 1
    support = count / num_transactions
    print(comb, ":", support)

confidence

In [ ]:
from itertools import combinations

In [ ]:
# mencari nilai confidence dari kombinasi 2 set item 

transactions = [
    ['whole milk', 'pastry', 'salty snack'],
    ['sausage', 'whole milk', 'semi-finished bread', 'yogurt'],
    ['soda', 'pickled vegetables'],
    ['canned beer', 'misc. beverages'],
    ['sausage', 'hygiene articles'],
    ['sausage', 'whole milk', 'rolls/buns'],
    ['whole milk', 'soda'],
    ['frankfurter', 'soda', 'whipped/sour cream'],
    ['frankfurter', 'curd'],
    ['beef', 'white bread'],
    ['butter', 'whole milk'],
    ['frozen vegetables', 'other vegetables'],
    ['tropical fruit', 'sugar'],
    ['butter milk', 'specialty chocolate'],
    ['frozen meals', 'dental care'],
    ['rolls/buns', 'rolls/buns'],
    ['root vegetables', 'detergent'],
    ['sausage', 'rolls/buns'],
    ['dish cleaner', 'cling film/bags']
]

unique_items = [
    'whole milk', 'pastry', 'salty snack', 'sausage', 'semi-finished bread',
    'yogurt', 'soda', 'pickled vegetables', 'canned beer', 'misc. beverages',
    'hygiene articles', 'rolls/buns', 'frankfurter', 'whipped/sour cream', 
    'curd', 'beef', 'white bread', 'butter', 'frozen vegetables', 
    'other vegetables', 'tropical fruit', 'sugar', 'butter milk', 
    'specialty chocolate', 'frozen meals', 'dental care', 'root vegetables', 
    'detergent', 'dish cleaner', 'cling film/bags'
]

num_transactions = len(transactions)

for comb in combinations(unique_items, 2):
    count_both = 0
    count_left = 0
    for transaction in transactions:
        if all(item in transaction for item in comb):
            count_both += 1
        if comb[0] in transaction:
            count_left += 1
    confidence = count_both / count_left
    print(comb, ":", confidence)

#(2) KNN

Gunakan dataset ini : https://drive.google.com/file/d/1pXAJZZXCXosf0PTJkyogopKaPFxCYl22/view?usp=share_link

Kemudian buatlah tabel jarak berdasarkan data berikut ini : 

![Gambar]()
<!-- 1412 -->

In [ ]:
# 1. Tambahkan kolom jarak untuk menampilkan jarak dari dataset terhadap target prediksi

In [ ]:
# 2. Urutkan data berdasarkan K jarak terdekat (Untuk K nya ambil akar 2 dari banyak data)

In [ ]:
# 3. Tentukan apa hasil prediksinya berdasarkan label terbanyak

In [ ]:
import pandas as pd

In [ ]:
dfku = pd.read_csv('deteksi_uang_palsu.csv')

In [ ]:
dfku

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
0,True,172.06,104.24,103.66,4.24,3.10,113.02
1,True,171.66,103.68,103.41,4.35,3.33,113.74
2,True,172.23,104.00,103.35,4.43,2.95,113.12
3,True,172.07,104.21,103.82,4.29,3.35,113.30
4,True,171.79,104.57,104.04,4.26,3.15,113.46
5,False,172.00,104.23,104.52,5.76,3.37,110.94
6,False,171.56,104.03,103.93,5.47,3.50,111.67
7,False,171.90,104.33,104.40,4.70,3.31,112.12
8,False,171.84,104.06,104.10,4.87,3.25,111.04
9,False,172.11,104.14,104.15,4.84,3.28,110.98

In [ ]:
# Import library yang dibutuhkan
import pandas as pd
import numpy as np

# Membaca dataset dari file CSV
df = pd.read_csv('deteksi_uang_palsu.csv')

# Memisahkan target variabel dan variabel input
X = df.iloc[:, 1:].values
y = df.iloc[:, 0].values

# Mengimpor algoritma KNN dari scikit-learn
from sklearn.neighbors import KNeighborsClassifier

# Inisialisasi model KNN dengan k=3
knn = KNeighborsClassifier(n_neighbors=3)

# Melatih model dengan data latih
knn.fit(X, y)

# Meminta inputan dari pengguna
nilaia = float(input("Masukkan Nilai Diagonal : "))
nilaib = float(input("Masukkan Nilai Height Left : "))
nilaic = float(input("Masukkan Nilai Height Right : "))
nilaid = float(input("Masukkan Nilai Margin Low : "))
nilaie = float(input("Masukkan Nilai Margin Up : "))
nilaif = float(input("Masukkan Nilai Length : "))

# Menginputkan 6 nilai untuk diprediksi
input_values = np.array([nilaia,	nilaib,	nilaic,	nilaid,	nilaie,	nilaif]).reshape(1,-1)

# Melakukan prediksi dengan model yang sudah dilatih
prediction = knn.predict(input_values)

# Menampilkan hasil prediksi
print("Hasil prediksi: ", prediction[0])

Masukkan Nilai Diagonal : 123
Masukkan Nilai Height Left : 43
Masukkan Nilai Height Right : 23
Masukkan Nilai Margin Low : 12
Masukkan Nilai Margin Up : 54
Masukkan Nilai Length : 32
Hasil prediksi:  False

# (3) Analisis

> Nama : Phascalis Chevin Tarigan

> Nim : 2109116123

Penjelasan posttest : 

Pilihlah salah satu tema dari daftar tema ini :  
1. Perbankan
2. Kesehatan
3. Ritel
4. Pendidkan

Kemudian lakukan analisis dengan menggunakan struktur CRISP-DM

Dimulai dari Business Understanding Hingga Data Preparation 
<img src="https://th.bing.com/th/id/R.f8efea41ae3cd96d86fbc5b10f81ad77?rik=K4Dr%2biIaVGvW8g&riu=http%3a%2f%2fwww.dataprix.com%2ffiles%2fCRISPDM%2fMetodologia_CRISP_DM1_html_52cdbecf.png&ehk=6ONLJMCVxE421Sjt2JJPE6MfCzrL7LLhDZQPdkJTLcw%3d&risl=&pid=ImgRaw&r=0"/>

Tentukan judul dengan ketentuan setiap orang di kelas beda-beda judulnya dan sumber datasetnya (contoh bisa prediksi atau aturan asosiasi)

data set ini di gunakan dari https://www.kaggle.com/rishidamarla/world-bank-data

Catatan : Tugas ini akan berhubungan dengan posttest terakhir (pertemuan 6)

**Business Understanding**

**Determine Business Objectives**

untuk memprediksi pengguna apakah ia akan menarik uang lewat bank atau tidak

**Assess Situation **

data yang digunakan adalah data yang disediakan oleh website kaggle

**Determine Data Mining Goals**

dapat memprediksi pengguna apakah ia akan menarik uang lewat bank atau tidak dengan presentasi betul tinggi

**Produce Project Plan**

menggunakan algoritma knn dengan library python dan pandas